:host {
  width: 100%;
  height: 100%;
  position: relative;
}

.chart {
  width: 100%;
  height: 100%;
}

.config {
  position: absolute;
  top: 0;
  right: 0;
}

.narrow-down {
  position: absolute;
  bottom: 7px;
  right: 0;
}
