:host {
  padding: 2px 10px 2px 10px;
  border-top: solid 1px #cccccc;
  font-size: 14px;
  background-color: #eeeeee;
  color: #333333;
}

.progress-messages {
  display: flex;
  justify-content: space-between;
}
