<ng-container *ngIf="isThumbnailGenerationDone; else thumbnailGenerationInProgress">
  <div>Completed generating thumbnails for HEIF/HEIC files.</div>
</ng-container>
<ng-template #thumbnailGenerationInProgress>
  <div>Generating thumbnails for HEIF/HEIC files...</div>
</ng-template>
<div class="progress-messages">
  <div>Progress: {{ numberOfGeneratedThumbnails }}/{{ numberOfThumbnailsGenerationRequired }}</div>
  <div>Total HEIF/HEIC files: {{ numberOfTotalHeifFiles }}, Using cache: {{ numberOfThumbnailsUsingCache }},
    Generation required: {{ numberOfThumbnailsGenerationRequired }}, Generated: {{ numberOfGeneratedThumbnails }}</div>
</div>
