<div class="message-and-progress">
  <ng-container *ngIf="isThumbnailGenerationDone; else thumbnailGenerationInProgress">
    <div>Completed generating thumbnails for HEIF/HEIC files.</div>
    <div>Progress: {{ numberOfGeneratedThumbnails }}/{{ numberOfThumbnailsGenerationRequired }}</div>
  </ng-container>
  <ng-template #thumbnailGenerationInProgress>
    <div>Generating thumbnails for HEIF/HEIC files...</div>
    <div>Progress: {{ numberOfGeneratedThumbnails }}/{{ numberOfThumbnailsGenerationRequired }}</div>
  </ng-template>
</div>
<div>Total HEIF/HEIC files: {{ numberOfTotalHeifFiles }}, Using cache: {{ numberOfThumbnailsUsingCache }},
  Generation required: {{ numberOfThumbnailsGenerationRequired }}, Generated: {{ numberOfGeneratedThumbnails }}</div>
