.progress-indicator {
  position: absolute;
  text-align: center;
  width: 100%;
  top: 50%;
  left: 50%;
  transform: translateY(-50%) translateX(-50%);
}

mat-progress-bar {
  margin-top: 10px;
  width: 90%;
  left: 5%;
}

.loading {
  margin-top: 15px;
}

.progress {
  margin-top: 10px;
}

.hidden {
  visibility: hidden;
}
