<div *ngIf="anyFileLoaded" class='message-container'>
  <div class="left-message-container">
    <span>Loaded {{ numberOfLoadedFiles }} files.</span>
    <span>{{ numberOfFilesWithExif }} files have Exif data.</span>
    <span>{{ numberOfFilesWithGpsInfo }} files have GPS data.</span>
  </div>
  <div class="right-message-container">
    <span>{{ getDescriptionByFileType() }}</span>
  </div>
  <div class="tiff-thumbnail-not-supported-message" *ngIf="numberOfTiffFiles >= 1">
    <span>
      Please note that displaying thumbnails of TIFF files is not supported.
    </span>
  </div>
</div>
