<div class="message">
  <ng-container *ngIf="isThumbnailGenerationDone; else thumbnailGenerationInProgress">
    <div>Completed generating thumbnails for HEIF files.</div>
  </ng-container>
  <ng-template #thumbnailGenerationInProgress>
    <div>Generating thumbnails for HEIF files...</div>
  </ng-template>
</div>
<div class="details">Total HEIF files: {{ numberOfTotalHeifFiles }} | Using cache: {{ numberOfThumbnailsUsingCache }} |
  Generation required: {{ numberOfThumbnailsGenerationRequired }} | Generated: {{ numberOfGeneratedThumbnails }}</div>
<mat-progress-bar mode="buffer" [value]="progressPercent"></mat-progress-bar>
<div class="progress-text">{{ numberOfGeneratedThumbnails }}/{{ numberOfThumbnailsGenerationRequired }}</div>
<span class="close-button"
      title="Close Thumbnail Generation Status Bar"
      [ngClass]="{'hidden': !isThumbnailGenerationDone, 'fade-in-close-button': isThumbnailGenerationDone}"
      (click)="handleCloseButtonClicked()">
  ×
</span>
