:host {
  display: grid;
  align-items: start;
  column-gap: 10px;
  grid: "summary progress-bar-with-details close-button" auto
        /auto    minmax(auto, 700px)       min-content;

  .summary                   { grid-area: summary;
                               justify-self: end;                    }
  .progress-bar-with-details { grid-area: progress-bar-with-details; }
  .close-button              { grid-area: close-button;              }

  padding: 2px 10px 2px 10px;
  border-top: solid 1px #cccccc;
  font-size: 14px;
  background-color: #eeeeee;
  color: #333333;
}

.summary {
  line-height: 28px;
}

.progress-bar-with-details {
  padding: 0 6px 0 15px;
  border-radius: 4px;
  cursor: pointer;

  &:hover {
    background-color: #ddd;
  }
}

// --- Animation for the height of the progress-bar-with-details area ---
.progress-bar-with-details          { transition: height 0.2s ease-in-out; }
.shrunk-progress-bar-with-details   { height: 28px;                        }
.expanded-progress-bar-with-details { height: 72px;                        }
// ----------------------------------------------------------------------

.progress-bar-and-expand-icon {
  display: grid;
  align-items: center;
  column-gap: 10px;
  grid: "progress-bar expand-icon" auto
        /auto         min-content;

  mat-progress-bar { grid-area: progress-bar; }
  .expand-icon     { grid-area: expand-icon;  }
}

.expand-icon {
  height: 24px;
  width: 24px;
  padding: 2px;
  color: #888;
}

// --- Animation for the rotation of the expand button ---
.expand-icon          { transition: transform 0.3s ease-in-out; }
.expanded-expand-icon { transform: rotate(180deg);              }
// -------------------------------------------------------

.details > div {
  line-height: 22px;
}

.generation-required-files-description {
  color: #888;
}

.close-button {
  width: 20px;
  height: 20px;
  padding: 4px;
  border-radius: 4px;
  text-align: center;
  font: 22px/18px Tahoma, Verdana, sans-serif;
  color: #888;
  text-decoration: none;
  font-weight: bold;
  background: transparent;
  cursor: pointer;

  &:hover {
    background-color: #ddd;
  }

  &:active {
    background-color: #bbb;
  }
}

.hidden {
  visibility: hidden;
}

.fade-in-close-button {
  animation: fadeIn 2s ease 0s;
}

@keyframes fadeIn {
  from { opacity: 0; }
  to   { opacity: 1; }
}
