:host {
  display: grid;
  align-items: start;
  column-gap: 10px;
  grid: "summary progress-bar        close-button" auto
        /auto    minmax(auto, 700px) 30px;

  .summary-and-expand-button { grid-area: summary;
                               justify-self: end;       }
  .progress-bar-and-details  { grid-area: progress-bar; }
  .close-button              { grid-area: close-button; }

  padding: 2px 10px 2px 10px;
  border-top: solid 1px #cccccc;
  font-size: 14px;
  background-color: #eeeeee;
  color: #333333;
}

.summary-and-expand-button {
  display: flex;
  align-items: center;
}

.expand-button {
  margin-left: 20px;
  padding: 2px;
  border-radius: 4px;
  color: #888;
  cursor: pointer;

  &:hover {
    background-color: #ddd;
  }

  &:active {
    background-color: #bbb;
  }
}

.progress-bar-and-details {
  width: 100%;
}

.progress-bar-container {
  display: grid;
  align-items: center;
  height: 28px;
}

.details > div {
  line-height: 22px;
}

.generation-required-files-description {
  color: #888;
}

.close-button {
  width: 20px;
  height: 20px;
  padding: 4px;
  border-radius: 4px;
  text-align: center;
  font: 22px/18px Tahoma, Verdana, sans-serif;
  color: #888;
  text-decoration: none;
  font-weight: bold;
  background: transparent;
  cursor: pointer;

  &:hover {
    background-color: #ddd;
  }

  &:active {
    background-color: #bbb;
  }
}

.hidden {
  visibility: hidden;
}

.fade-in-close-button {
  animation: fadeIn 2s ease 0s;
}

@keyframes fadeIn {
  from { opacity: 0; }
  to   { opacity: 1; }
}
