@import "~global-styles/status-bar";

:host {
  @include status-bar;

  display: grid;
  align-items: start;
  column-gap: 10px;
  grid: "summary progress-bar-with-details close-button" auto
        /auto    minmax(auto, 800px)       min-content;

  .summary                   { grid-area: summary;
                               justify-self: end;                    }
  .progress-bar-with-details { grid-area: progress-bar-with-details; }
  .close-button              { grid-area: close-button;              }
}

.summary {
  line-height: 28px;
  white-space: nowrap;
}

.progress-bar-with-details {
  padding: 0 0 0 15px;
  border-radius: 4px;
  cursor: pointer;

  &:hover {
    background-color: #ddd;
  }
}

// --- Animation for the max-height of the progress-bar-with-details area ---
// Note that the animation needs to be set to max-height (NOT height) considering the cases that
// lines of texts increase because of the small width of the progress-bar-with-details area
// caused by small window width.
.progress-bar-with-details          { transition: max-height 0.4s linear; }
.shrunk-progress-bar-with-details   { max-height: 28px;                   }
.expanded-progress-bar-with-details { max-height: 150px;                  }
// --------------------------------------------------------------------------

.progress-bar-and-expand-icon {
  display: grid;
  align-items: center;
  column-gap: 10px;
  grid: "progress-bar expand-icon" auto
        /auto         min-content;

  mat-progress-bar { grid-area: progress-bar; }
  .expand-icon     { grid-area: expand-icon;  }
}

.expand-icon {
  height: 24px;
  width: 24px;
  padding: 2px;
  color: #888;
}

// --- Animation for the rotation of the expand icon ---
.expand-icon          { transition: transform 0.3s ease-in-out; }
.expanded-expand-icon { transform: rotate(180deg);              }
// -----------------------------------------------------

.details > div {
  line-height: 22px;
}

.generation-required-files-description {
  color: #888;
}

.close-button {
  width: 20px;
  height: 20px;
  padding: 4px;
  border-radius: 4px;
  text-align: center;
  font: 22px/18px Tahoma, Verdana, sans-serif;
  color: #888;
  text-decoration: none;
  font-weight: bold;
  background: transparent;
  cursor: pointer;

  &:hover {
    background-color: #ddd;
  }

  &:active {
    background-color: #bbb;
  }
}

.hidden {
  visibility: hidden;
}

.fade-in-close-button {
  animation: fadeIn 2s ease 0s;
}

@keyframes fadeIn {
  from { opacity: 0; }
  to   { opacity: 1; }
}
