@keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

mat-tree {
  white-space: nowrap;
}

mat-tree-node {
  min-height: 40px;
  overflow: visible;
}

.mat-icon-button {
  width: 40px;
  height: 40px;
}

.spacer-to-align-with-tree-expand-button {
  width: 40px;
}

.non-selectable-node {
  color: #c0c0c0;
  height: 16px;
  line-height: 16px;
}

div.disabled-checkbox-alternative {
  display: inline-block;
  vertical-align: middle;
  background-color: #e0e0e0;
  width: 16px;
  height: 16px;
  border-radius: 2px;
  margin-right: 4px;
}

div.tooltip-container {
  position: relative;
}

div.tooltip-container > .tooltip-target {
  line-height: 40px;
}

div.tooltip-container > .tooltip-content {
  position: absolute;
  left: -30px;
  padding: 0.5em;
  color: #000000;
  background: #ebf4fb;
  border: 0.1em solid #b7ddf2;
  border-radius: 0.5em;
  z-index: 1; // Assuming that z-index of other elements are 0 (default value).
}

@mixin fade-in-animation {
  animation: fadeIn 0.5s ease 0s;
}

div.tooltip-container > .tooltip-content.visible-above {
  @include fade-in-animation;
  bottom: 35px;
}

div.tooltip-container > .tooltip-content.visible-below {
  @include fade-in-animation;
}
