@keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

mat-tree {
  white-space: nowrap;
}

mat-tree-node {
  min-height: 40px;
  overflow: visible;

  $target-background: rgba(0,0,0,.08);
  &:hover               { background: $target-background; }
  &.context-menu-target { background: $target-background; }
  transition: background-color 0.2s ease;
}

.non-selectable-node {
  display: inline-flex;
  align-items: center;
  color: #c0c0c0;
}

.non-selectable-node-name {
  padding-left: 4px;
}

div.disabled-checkbox-alternative {
  display: inline-block;
  vertical-align: middle;
  background-color: #e0e0e0;
  width: 18px;
  height: 18px;
  border-radius: 2px;
  margin: 11px;
}

.tooltip-visible {
  animation: fadeIn 0.3s ease 0s;
}
