@import "../settings-styles";

.setting-title {
  font-size: $setting-title-font-size;
}

.setting-container {
  padding: $setting-container-padding;
}

.description {
  font-size: 14px;
  margin-bottom: 20px;
}

.buttons {
  display: flex;
  gap: 30px;

  button {
     width: 100px;
  }
}
