<mat-form-field>
  <input matInput (keyup)="applyFilter($any($event.target).value)" placeholder="Filter">
</mat-form-field>

<cdk-virtual-scroll-viewport tvsItemSize="48"
                             class="mat-elevation-z2">

  <table mat-table [dataSource]="dataSource" matSort class="mat-elevation-z8">

    <!-- Position Column -->
    <ng-container matColumnDef="position">
      <th mat-header-cell
          *matHeaderCellDef
          mat-sort-header
          class="col-sm"> No. </th>
      <td mat-cell
          *matCellDef="let element"
          class="col-sm"> {{element.position}} </td>
    </ng-container>

    <!-- File Column -->
    <ng-container matColumnDef="filePath">
      <th mat-header-cell *matHeaderCellDef mat-sort-header> File </th>
      <td mat-cell *matCellDef="let element">
        <div class="file-path-and-icons"
             (mouseenter)="icons.style.opacity = '1'"
             (mouseleave)="icons.style.opacity = '0'">
          <div>{{ element.filePath }}</div>
          <div class="icons" #icons>
            <img class="open-file-icon"
                 [src]="launchExternalAppIconDataUrl"
                 alt="Open File"
                 title="Open File"
                 (click)="handleOpenFileIconClicked(element.filePath)">
            <img class="open-folder-icon"
                 [src]="folderIconDataUrl"
                 alt="Open Folder"
                 title="Open Folder"
                 (click)="handleOpenFolderIconClicked(element.filePath)">
          </div>
        </div>
      </td>
    </ng-container>

    <tr mat-header-row *matHeaderRowDef="displayedColumns; sticky: true"></tr>
    <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>

  </table>

</cdk-virtual-scroll-viewport>
