/* You can add global styles to this file, and also import other style files */

html, body {
  margin: 0;
  padding: 0;
  height: 100%;
}

body {
  font-family: Roboto, "Helvetica Neue", sans-serif;
}

// The gutter provided by Split.js
.gutter.gutter-horizontal {
  height: 100%;
  background-color: #eeeeee;
  cursor: col-resize;
}

.custom-dialog-container .mat-dialog-container {
  padding: 0;
  position: relative;
}

@import "photo-info-viewer";
