.photo-info-viewer-button {
  background-color: #888888;
  border-radius: 5px;
  margin: 6px 3px 0px 3px;
  padding: 4px;
  transition: background-color 0.2s ease;
}

.photo-info-viewer-button:hover {
  background-color: #555555;
}

.photo-info-viewer-button:active {
  background-color: #7776d6;
}
