@import "../settings-styles";

.setting-title {
  font-size: $setting-title-font-size;
}

.setting-container {
  padding: $setting-container-padding;
}

.show-status-bar-label {
  margin-left: 8px;
  pointer-events: none;
}
