<div class="welcome-dialog-container">
  <img src="favicon.svg" alt="Application Icon" class="app-icon">
  <div class="welcome-message">Welcome to Photo Location Map</div>
  <div class="app-version">Version {{ appVersion }}</div>
  <div class="author">
    Author: <a #authorLink href="">Tomoyuki Aota</a>
  </div>
  <div class="bug-report-message">
    If you find any bugs or issues, please submit them in <a #gitHubIssuesLink href="">GitHub Issues</a>.
  </div>
  <div class="usage-info-collection-message">
    To improve this application, this application collects anonymized usage information. You agree to it by continuing to use this application.
  </div>
  <button
    mat-stroked-button
    color="primary"
    mat-dialog-close
    class="ok-button"
    (click)="onOkClicked()">
    OK
  </button>
</div>
