.welcome-dialog-container {
  padding: 30px 30px 0 30px;
  text-align: center;
}

.app-icon {
  display: block;
  margin: 0 auto;
  width: 150px;
  height: 150px;
}

.welcome-message {
  margin-top: 20px;
  font-size: 30px;
}

.app-version {
  margin-top: 15px;
  font-size: 18px;
}

.developed-by {
  margin-top: 15px;
  font-size: 15px;

  display: grid;
  grid: "message     twitter-logo github-logo" auto
        /max-content min-content  min-content;
  justify-content: center;
  align-items: center;
  column-gap: 5px;
  .developed-by-message { grid-area: message;      }
  .twitter-profile-icon { grid-area: twitter-logo; }
  .github-profile-icon  { grid-area: github-logo;  }

  > img {
    border-radius: 4px;
    cursor: pointer;

    &:hover {
      background-color: #ddd;
    }

    &:active {
      background-color: #bbb;
    }
  }
}

.twitter-profile-icon {
  width: 40px;
  height: 40px;
}

.github-profile-icon {
  padding: 5px;
  width: 30px;
  height: 30px;
}

.bug-report-message {
  margin-top: 15px;
  font-size: 15px;
  text-align: left;
}

.usage-info-collection-message {
  margin-top: 15px;
  font-size: 15px;
  text-align: left;
}

.ok-button {
  margin-top: 20px;
}
