.welcome-dialog-container {
  padding: 20px;
  text-align: center;
}

.app-icon {
  display: block;
  margin: 0 auto;
  width: 150px;
  height: 150px;
}

.welcome-message {
  margin-top: 15px;
  font-size: 25px;
}

.app-version {
  margin-top: 10px;
  font-size: 15px;
}
