<div class="welcome-dialog-container">
  <img src="favicon.svg" alt="Application Icon" class="app-icon">
  <div class="welcome-message">Welcome to Photo Location Map</div>
  <div class="app-version">Version {{ appVersion }}</div>
  <div class="developed-by">
    <div class="developed-by-message">
      Developed by Tomoyuki Aota.
    </div>
    <img  class="twitter-profile-icon"
          [src]="twitterLogoDataUrl"
          alt="Twitter Profile"
          title="Open Twitter Profile"
          (click)="handleTwitterProfileIconClicked()">
    <img class="github-profile-icon"
         [src]="gitHubLogoDataUrl"
         alt="GitHub Profile"
         title="Open GitHub Profile"
         (click)="handleGitHubProfileIconClicked()"/>
  </div>
  <div class="bug-report-message">
    If you encounter issues with this application, please see <a href="" title="Open GitHub Issues" #gitHubIssuesLink>GitHub Issues</a>.
  </div>
  <div class="usage-info-collection-message">
    To improve this application, this application collects anonymous usage information. You agree to it by continuing to use this application.
  </div>
  <button
    mat-stroked-button
    color="primary"
    mat-dialog-close
    class="ok-button"
    (click)="onOkClicked()">
    OK
  </button>
</div>
