@import "../settings-styles";

.setting-title {
  font-size: $setting-title-font-size;
}

.setting-container {
  padding: $setting-container-padding;
}

.cache-description {
  font-size: 14px;

  p {
    margin: 0;
  }

  p + p {
    margin: 5px 0;
  }
}

.location-and-size-table {
  margin-top: 30px;
  display: grid;
  grid: "location-label location-value" auto
        "size-label     size-value    " auto
        /auto           1fr;
  grid-column-gap: 30px;
  grid-row-gap: 10px;

  .location-label { grid-area: location-label; }
  .location-value { grid-area: location-value; }
  .size-label     { grid-area: size-label;     }
  .size-value     { grid-area: size-value;     }
}

// anchor-tag-style is to give styles like <a> tag to the specified text without using <a> tag.
.anchor-tag-style {
  color: -webkit-link;
  cursor: pointer;
  text-decoration: underline;

  &:active{
    color: -webkit-activelink;
  }
}

.delete-button-description {
  margin-top: 40px;
  font-size: 14px;
  color: red;
}

.delete-button {
  margin-top: 20px;
}
