<div class="setting-title">HEIF Thumbnail Cache</div>
<div class="setting-container">
  <div class="cache-description">
    <p>For <a #heifWikipediaLink href="">HEIF files</a>, generated thumbnails are cached because it takes time to generate thumbnails.</p>
    <p>The cache will be used from the next time of loading the files by clicking "Select Folder" button</p>
    <p>in order to immediately display the thumbnails without generating them.</p>
  </div>
  <div class="location-and-size-table">
    <div class="location-label">Cache location</div>
    <div class="location-value anchor-tag-style" (click)="openThumbnailCacheLocation()">{{ thumbnailCacheLocation }}</div>
    <div class="size-label">Cache size</div>
    <div class="cache-value">{{ thumbnailCacheSize }}</div>
  </div>
  <button mat-flat-button
          color="warn"
          class="delete-button"
          (click)="handleDeleteThumbnailCacheButtonClicked()">
    Delete Thumbnail Cache
  </button>
  <div class="delete-button-description">This application will restart after deleting the thumbnail cache.</div>
</div>
