@import "/src/styles/anchor-tag-like-text";
@import "../settings-styles";

.setting-title {
  font-size: $setting-title-font-size;
}

.setting-container {
  padding: $setting-container-padding;
}

.cache-description {
  font-size: 14px;

  p {
    margin: 0;
  }

  p + p {
    margin: 5px 0;
  }
}

.location-table {
  margin-top: 30px;
  font-size: 14px;
  display: grid;
  grid: "location-label location-value" auto
        /auto           1fr;
  grid-column-gap: 30px;
  grid-row-gap: 10px;

  .location-label { grid-area: location-label; }
  .location-value { grid-area: location-value; }
}

.anchor-tag-like-text {
  @include anchor-tag-like-text;
}

.delete-button-description {
  margin-top: 30px;
  font-size: 14px;
  color: red;
}

.delete-button {
  margin-top: 20px;
}
