:host {
  box-sizing: border-box;

  $dialog-width: 840px;          // Need to be the same value used in DirTreeViewSortService::showShootingTimeInfoDialog function
  $scroll-bar-area-width: 20px;  // The area for the scrollbar to appear without corrupting the layout
  width: calc($dialog-width - $scroll-bar-area-width);

  height: 100%;
  padding: 20px 30px;

  display: grid;
  grid: "message"      1fr
        "close-button" auto
        /auto;
  justify-items: center;
  .message      { grid-area: message;      }
  .close-button { grid-area: close-button; }
}

// Copied from <mat-expansion-panel> using DevTools
@mixin mat-expansion-panel-like-style {
  box-shadow: 0 3px 1px -2px rgba(0, 0, 0, 0.2), 0px 2px 2px 0px rgba(0, 0, 0, 0.14), 0px 1px 5px 0px rgba(0, 0, 0, 0.12);
  border-radius: 4px;
}

.message {
  margin: 10px 0 20px 0;

  .message-main {
    margin-bottom: 30px;
    padding: 24px; // Align with the padding of the content within <mat-expansion-panel>
    @include mat-expansion-panel-like-style;

    li {
      margin-bottom: 10px;

      &::marker {
        content:counter(list-item) ")\2003"; // To use brackets for <li>. e.g. 1) 2) 3) instead of 1. 2. 3.
      }
    }
  }

  .message-details {
    p {
      margin: 5px 0;
    }
  }
}

.close-button {
  width: 80px;
}
