:host {
  box-sizing: border-box;

  $dialog-width: 800px;
  $scroll-bar-area-width: 20px;  // The area for the scrollbar to appear without corrupting the layout
  width: calc($dialog-width - $scroll-bar-area-width);

  height: 100%;
  padding: 30px;

  display: grid;
  grid: "message"      1fr
        "close-button" auto
        /auto;
  justify-items: center;
  .message      { grid-area: message;      }
  .close-button { grid-area: close-button; }
}

.message {
  margin: 10px 0 20px 0;

  .message-main {
    margin-bottom: 30px;

    li {
      margin-bottom: 10px;

      &::marker {
        content:counter(list-item) ")\2003"; // To use brackets for <li>. e.g. 1) 2) 3) instead of 1. 2. 3.
      }
    }
  }

  .message-details {
    p {
      margin: 5px 0;
    }
  }
}

.close-button {
  width: 80px;
}
