// hover/active/selected colors for tabs/tiles with white background as default style.
$white-background_hover:              rgba( 0,  0,   0, .08);
$white-background_active:             rgba( 0,  0,   0, .2 );
$white-background_selected:           rgba(63, 81, 181, .15);
$white-background_selected-and-hover: rgba(63, 81, 181, .3 );
