.photo-info-viewer-generating-thumbnail {
  animation: flickerAnimation 3s infinite;
}

@keyframes flickerAnimation {
  0%   { opacity: 0.2; }
  50%  { opacity: 1; }
  100% { opacity: 0.2; }
}

.photo-info-viewer-fade-in-after-thumbnail-generation {
  animation: fadeIn 2s ease 0s;
}

@keyframes fadeIn {
  from { opacity: 0; }
  to   { opacity: 1; }
}

.photo-info-viewer-button {
  background-color: #888888;
  border-radius: 5px;
  margin: 6px 3px 0 3px;
  padding: 4px;
  transition: background-color 0.2s ease;
}

.photo-info-viewer-button:hover {
  background-color: #555555;
}

.photo-info-viewer-button:active {
  background-color: #7776d6;
}
