@keyframes flickerAnimation {
  0%   { opacity: 0.2; }
  50%  { opacity: 1;   }
  100% { opacity: 0.2; }
}

@keyframes fadeIn {
  from { opacity: 0; }
  to   { opacity: 1; }
}

@keyframes fadeOut {
  from { opacity: 1; }
  to   { opacity: 0; }
}

.photo-info-viewer-thumbnail {
  cursor: pointer;

  // Style for text of img.alt
  white-space: pre-wrap;
  font-size: 12px;
  line-height: 1.3;

  transition:
    transform  0.3s ease-in-out,  // Animation for thumbnail rotation
    box-shadow 0.3s ease-in-out,  // Hover effect
    filter     0.2s ease-in-out;  // Click effect

  box-shadow: 0 0 3px 2px transparent;
  &:hover { box-shadow: 0 0 3px 2px rgba(0,0,0,0.4); }

  filter: brightness(1);
  &:active { filter: brightness(0.8); }
}

.photo-info-viewer-generating-thumbnail {
  animation: flickerAnimation 3s infinite;
}

.photo-info-viewer-fade-in-after-thumbnail-generation {
  animation: fadeIn 2s ease 0s;
}

.photo-info-viewer-button {
  all: unset;      // Remove button's default style
  cursor: pointer; // Retrieve button's default cursor style

  width: 30px;
  height: 30px;
  margin: 6px 3px 0 3px;
  padding: 3px;
  border-radius: 5px;

  // Button color
  background-color: #888888;
  transition: background-color 0.2s ease;
  &:hover  { background-color: #666666; }
  &:active { background-color: #444444; }

  // Centering the icon within the button
  display: inline-grid;
  place-items: center;

  position: relative;

  &:hover .photo-info-viewer-button-tooltip {
    opacity: 1;
    visibility: visible;
  }
}

.photo-info-viewer-more-options-button {
  @extend .photo-info-viewer-button;
  &:focus  { background-color: #444444; }
}

.photo-info-viewer-icon {
  width: 25px;
  height: 25px;
}

// Reference for tooltip: https://zenn.dev/catnose99/articles/26bd8dac9ea5268486c8
.photo-info-viewer-button-tooltip {
  opacity: 0;
  visibility: hidden;
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  bottom: -35px;
  display: inline-block;
  padding: 5px;
  white-space: nowrap;
  font-size: 0.8rem;
  line-height: 1.3;
  background: #333;
  color: #fff;
  border-radius: 3px;
  transition: 0.3s ease-in;
  box-shadow: 0 1px 2px rgba(0, 0, 0, 0.3);

  z-index: 1; // With z-index: 0, the map's popup tail appears in front of the tooltip.

  // Tooltip tail
  &:before {
    content: '';
    position: absolute;
    top: -13px;
    left: 50%;
    margin-left: -7px;
    border: 7px solid transparent;
    border-bottom: 7px solid #333;
  }
}

.photo-info-viewer-more-options-menu {
  position: absolute;
  z-index: 1; // With z-index: 0, the map's popup appears in front of the menu.
  background-color: #ffffff;
  border-radius: 4px;
  box-shadow: 0 2px 4px -1px #0003, 0 4px 5px #00000024, 0 1px 10px #0000001f; // Same as the context menu in the directory tree view.
}

.photo-info-viewer-more-options-menu-fade-in {
  animation: fadeIn 0.4s ease 0s forwards;
}

.photo-info-viewer-more-options-menu-fade-out {
  animation: fadeOut 0.4s ease 0s forwards;
}

// Similar to .mat-menu-item used in the context menu in the directory tree view.
.photo-info-viewer-more-options-menu-item {
  user-select: none;
  cursor: pointer;
  outline: none;
  border: none;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  display: block;
  line-height: 35px;
  height: 35px;
  padding: 0 16px;
  text-align: left;
  text-decoration: none;
  max-width: 100%;
  position: relative;

  font-family: Roboto,Helvetica Neue,sans-serif;
  font-size: 14px;
  font-weight: 400;

  // background-color animation
  transition: background-color 0.2s ease;
  &:hover  { background: rgba(0,0,0,.08); }
  &:active { background: rgba(0,0,0,.2);  }
}
