@keyframes flickerAnimation {
  0%   { opacity: 0.2; }
  50%  { opacity: 1;   }
  100% { opacity: 0.2; }
}

@keyframes fadeIn {
  from { opacity: 0; }
  to   { opacity: 1; }
}

@keyframes fadeOut {
  from { opacity: 1; }
  to   { opacity: 0; }
}

.photo-info-viewer-generating-thumbnail {
  animation: flickerAnimation 3s infinite;
}

.photo-info-viewer-fade-in-after-thumbnail-generation {
  animation: fadeIn 2s ease 0s;
}

@mixin photo-info-viewer-icon {
  background-color: #888888;
  border-radius: 5px;
  margin: 6px 3px 0 3px;
  padding: 4px;
  transition: background-color 0.2s ease;

  &:hover {
    background-color: #555555;
  }
}

.photo-info-viewer-button {
  @include photo-info-viewer-icon;

  &:active {
    background-color: #7776d6;
  }
}

.photo-info-viewer-more-options-icon-container {
  all: unset; // reset button's style
  display: inline-block;
  position: relative;
}

.photo-info-viewer-more-options-icon {
  @include photo-info-viewer-icon;
}

.photo-info-viewer-more-options-menu {
  position: absolute;
  z-index: 1; // With z-index: 0, the map's popup appears in front of the menu.
  background-color: #ffffff;
  border-radius: 4px;
  box-shadow: 0 2px 4px -1px #0003, 0 4px 5px #00000024, 0 1px 10px #0000001f; // Same as the context menu in the directory tree view.
}

.photo-info-viewer-more-options-menu-fade-in {
  animation: fadeIn 0.4s ease 0s forwards;
}

.photo-info-viewer-more-options-menu-fade-out {
  animation: fadeOut 0.4s ease 0s forwards;
}

// Similar to .mat-menu-item used in the context menu in the directory tree view.
.photo-info-viewer-more-options-menu-item {
  user-select: none;
  cursor: pointer;
  outline: none;
  border: none;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  display: block;
  line-height: 35px;
  height: 35px;
  padding: 0 16px;
  text-align: left;
  text-decoration: none;
  max-width: 100%;
  position: relative;

  font-family: Roboto,Helvetica Neue,sans-serif;
  font-size: 14px;
  font-weight: 400;

  // background-color animation
  transition: background-color 0.2s ease;
  &:hover  { background: rgba(0,0,0,.08); }
  &:active { background: rgba(0,0,0,.2);  }
}
