/* You can add global styles to this file, and also import other style files */

html, body {
  margin: 0;
  padding: 0;
  height: 100%;
}

body {
  font-family: Roboto, "Helvetica Neue", sans-serif;
}

// The gutter provided by Split.js
.gutter {
  height: 100%;
  background-color: #eeeeee;

  &.gutter-horizontal {
    cursor: col-resize;
  }

  &.gutter-vertical {
    cursor: row-resize;
  }

  // The same animation as the splitter gutter in Photo Data Viewer.
  transition: background-color 1s ease 0.2s;
  &:hover {
    background-color: #aaaaaa;
  }
}

$max-z-index: 2147483647;
.cdk-overlay-container {
  z-index: $max-z-index;  // Override the default z-index (1000) to the maximum number to ensure that the overlay works.
}

.custom-dialog-container {
  max-width: 95vw !important;   // important! to override the max-width restriction of 80vw given by inline styling
  max-height: 95vh;
}

.custom-dialog-container .mat-mdc-dialog-container {
  padding: 0;
  position: relative;
}

.mdc-checkbox__ripple {
  display: none;
}

@import "photo-cluster-viewer/photo-cluster-viewer";
@import "photo-info-viewer/photo-info-viewer";
@import "plm-leaflet-map/plm-leaflet-map";
