.about-box-container {
  padding: 20px;
  text-align: center;
}

.app-icon {
  display: block;
  margin: 0 auto;
}

.app-name {
  margin-top: 15px;
  font-size: 25px;
}

.app-version {
  margin-top: 10px;
  font-size: 15px;
}

.github-repo-link {
  display: block;
  margin-top: 10px;
  font-size: 15px
}

.author {
  margin-top: 10px;
  font-size: 15px;
}
