.sidebar {
  padding: 15px 0 10px 0;
}

#open-folder-button {
  text-align: center;
}

.message-when-folder-is-not-opened {
  padding: 12px 10px 0 10px;
  font-size: 15px;
  line-height: 20px;
}

.directory-tree-view-area {
  padding-top: 5px;
}
