<div class="settings-dialog-header">
  Settings
</div>
<div class="settings-dialog-content">
  <div class="setting-title">Date Time Format</div>
  <div>
    <div>Dropdown for YYYY/MM/DD</div>
    <div>Dropdown for 12h/24h</div>
    <div>Actual sample using date time for now</div>
  </div>
</div>
<div class="settings-dialog-footer">
  <div class="settings-dialog-footer-description">Saving settings requires application restart.</div>
  <div class="settings-dialog-footer-buttons">
    <button mat-flat-button color="primary">Save</button>
    <button mat-button mat-dialog-close class="settings-dialog-cancel-button">Cancel</button>
  </div>
</div>
