body {
  font-family: 'Segoe UI', 'Roboto', arial, sans-serif;
}

.layout-container {
  max-width: 800px;
  margin: 40px auto;
}

.how-to-install-section {
  margin-top: 60px;
}

.install-step {
  margin: 10px 0;
}

.windows-defender-more-info {
  display: block;
  margin: 0 auto;
  width: 500px;
}

.windows-defender-run-anyway {
  display: block;
  margin: 0 auto;
  width: 500px;
}
