.layout-container {
  max-width: 800px;
  margin: 20px auto;
}

.app-icon {
  text-align: center;
  margin: 30px 0 auto;
}

.app-icon-img {
  width: 120px;
}

.title {
  text-align: center;
  font-size: 50px;
  margin-top: 20px;
  margin-bottom: 30px;
}

.app-description {
  text-align: center;
  font-size: 18px;
  margin-bottom: 40px;
}

.download-buttons {
  text-align: center;
}

.download-buttons button {
  margin: 0 20px;
}

.demo {
  margin: 40px auto;
}

.demo-gif {
  display: block;
  margin: 10px auto;
  width: 800px;
}

.demo-gif-description {
  text-align: center;
}

.project-description {
  text-align: center;
  margin-top: 60px;
}