:host {
  padding: 5.5px 0 0 0;

  display: grid;
  justify-items: left;
  align-items: start;
  grid: "settings-icon"      auto
        "x-axis-unit-select" auto
        /auto;
  .settings-icon      { grid-area: settings-icon;      }
  .x-axis-unit-select { grid-area: x-axis-unit-select; }
}

.settings-icon {
  position: relative;
  cursor: pointer;

  &:hover {
    // The filter value is gotten by giving #3e98c5 to https://codepen.io/sosuke/pen/Pjoqqp
    // Reference: https://stackoverflow.com/a/50942954/7947548
    filter: invert(51%) sepia(25%) saturate(1089%) hue-rotate(155deg) brightness(99%) contrast(86%);

    &::after {
      position: absolute;
      left: 0;
      top: 31.6px; // Align horizontally with "Zoom" and "Restore" text below the buttons in the chart.
      font-size: 13px;
      content: 'Settings';
    }
  }
}

.settings-icon-img {
  width: 32px;
  height: 32px;
}

.x-axis-unit-select {
  display: inline-flex;
  align-items: center;
  position: relative;
}

.x-axis-unit-select::after {
  position: absolute;
  right: 10px;
  width: 10px;
  height: 7px;
  background-color: #535353;
  clip-path: polygon(0 0, 100% 0, 50% 100%);
  content: '';
  pointer-events: none;
}

.x-axis-unit-select select {
  appearance: none;
  height: 2em;
  padding: .4em calc(.8em + 14px) .4em .6em;
  border: 1px solid #cccccc;
  border-radius: 3px;
  background-color: #fff;
  color: #333333;
  font-size: .9em;
  cursor: pointer;
}
