<div class="sidebar-and-map-container">
  <div id="home-left-sidebar" #sidebar>
    <div id="home-sidebar-upper-pane" #sidebarUpperPane>
      <app-sidebar-upper-pane></app-sidebar-upper-pane>
    </div>
    <div id="home-sidebar-lower-pane">
      <app-sidebar-lower-pane></app-sidebar-lower-pane>
    </div>
  </div>
  <div id="home-right">
    <div id="home-map">
      <app-map></app-map>
    </div>
    <div id="home-chart">
      <app-date-time-taken-chart></app-date-time-taken-chart>
    </div>
  </div>
</div>
<app-thumbnail-generation-status-bar [ngClass]="{'hidden': !thumbnailGenerationStatusBarVisible}">
</app-thumbnail-generation-status-bar>
<app-loaded-files-status-bar [ngClass]="{'hidden': !loadedFilesStatusBarVisible}">
</app-loaded-files-status-bar>
