:host {
  height: 100%;
  display: grid;
  grid: "sidebar-and-map" minmax(0, 1fr)
        "thumbnail-generation-status" auto
        / auto;
}

.sidebar-and-map-container {
  height: 100%;
  grid-area: sidebar-and-map;
  display: flex;
  flex-direction: row;
}

#left-sidebar {
  height: 100%;
  overflow-y: auto;
}

#right-map {
  height: 100%;
}

app-thumbnail-generation-status-bar {
  grid-area: thumbnail-generation-status;
}

.hidden {
  display: none;
}
